<div class="nav-app">
  <div class="app">
    <a href="{% url 'home' %}" class='app-link'> <i class="icon-toolbox" aria-hidden="true"></i> Directory</a>
  </div>
  <div class="app">
    <a href="{% url 'home' %}" class='app-link'><i class=" icon-video" aria-hidden="true"></i>Watch Videos</a>
  </div>
  <div class="app">
      <a href="{% url 'home' %}" class='app-link'><i class="icon-mic" aria-hidden="true"></i> Play Musics</a>
  </div>
  <div class="app">
    <a href="{% url 'home' %}" class='app-link'><i class=" icon-picture" aria-hidden="true"></i>Gallery</a>
  </div>
  <div class="app">
    <a href="{% url 'home' %}" class='app-link'><i class="icon-documents" aria-hidden="true"></i>  Documents</a>
  </div>
  <div class="app">
    <a href="{% url 'home' %}" class='app-link'><i class="icon-edit" aria-hidden="true"></i>Add Files</a>
  </div>
  <div class="app">
    <a href="{% url 'home'  %}" class='app-link'><i class="icon-chat" aria-hidden="true"></i> Help &amp; Support</a>
  </div>
</div>
