{% extends 'Manager/layout/skeleton.html' %}

{% block title %}
  Folder Section
{% endblock %}

{% block style %}

<style type="text/css">
  .folder-node{
    font-size:13px;
    border-bottom:1px solid #eee;
    font-family:segoe ui light;
    text-transform:capitalize;
    margin:2px;
    transition:all;
    transition-property:background, color;
    transition-duration: .5s;

  }
  .folder-node:hover{
      background:#bbb;
      color:white;
      cursor:pointer
  }
</style>
{% endblock %}

{% block maincontent %}
  <section class="module" style="min-height:555px;">
    <div class="container">
            <div class="row">
              {% include 'Manager/error/error_manager.html' %}

              <div class="col-sm-10 col-sm-offset-1">
                <h4 class="font-alt mb-0">Folders </h4>

                <hr class="divider-w mt-10 mb-20">

                <div class="col-sm-9">

                        {% if directories %}
                        <div class="recently" style='border:1px solid #eee;padding:5px;'>
                          <h5 class="font-alt mb-0">recently Created Folders </h5>
                            <div class="folders">
                          {% for directory in directories %}
                            <figure class='folder-node'>
                              <i class='fa fa-folder' style='margin-left:5px'></i>
                                {{ directory }} created on {{ directory.date }}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                ( hidden : {{ directory.hidden }} )
                            </figure>
                          {% endfor %}
                        </div>
                        </div>
                        {% endif %}


                </div>
                <div class="col-sm-3">
                  <h5 class="font-alt mb-0">Create New Folder</h5>
                  <hr class="divider-w mt-10 mb-20">

                  <form class="form-horizontal"  method="post">
                    {% csrf_token %}
                      <div class="form-group">
                        {{ form.folder_name }}
                      </div>
                      <div class="form-group">
                        {{ form.status }}
                      </div>
                      <button type="submit" name="button" class='btn btn-success btn-sm' >Create Folder</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
  </section>
{% endblock %}
