{% extends 'Manager/layout/skeleton.html' %}

{% block title %}
  Folder Section
{% endblock %}

{% block style %}

<style type="text/css">
  table tr td{
    font: 400 12px/1.8 "segoe ui light", sans-serif!important;
  }
  .right-border{
    border-right:1px solid #eee;

  }
  .recently{

    max-height:150px;
  }
  .folders{
    padding:10px;

  }
  .folder-node{
    font-size:13px;
    border-bottom:1px solid #eee;
    font-family:segoe ui light;
    text-transform:capitalize;
    margin:2px;
    transition:all;
    transition-property:background, color;
    transition-duration: .5s;

  }
  .folder-node:hover{
      background:#bbb;
      color:white;
      cursor:pointer
  }
</style>
{% endblock %}

{% block script %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){
      let elem = document.querySelector(".recently")
      elem.ondblclick = function(){
        this.style.display = 'none'
      }

      let body = document.querySelector("body")
      body.onkeyup = function(e){
        if(e.key == 'Control'){
            elem.style.display = 'block'
        }
      }
    })
</script>

{% endblock %}

{% block maincontent %}
  <section class="module" style="min-height:555px;">
    <div class="container">
            <div class="row">
              {% include 'Manager/error/error_manager.html' %}

              <div class="col-sm-10 col-sm-offset-1">
                <h4 class="font-alt mb-0">Folders </h4>

                <hr class="divider-w mt-10 mb-20">

                <div class="col-sm-9 right-border">

                        {% if recently %}
                        <div class="recently" style='border:1px solid #eee;padding:5px;overflow:auto'>
                          <h5 class="font-alt mb-0">recently Created Folders </h5>
                            <div class="folders">
                          {% for directory in recently reversed %}
                            <figure class='folder-node'>
                              <i class='fa fa-folder' style='margin-left:5px'></i>
                                {{ directory }} created on {{ directory.date }}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                ( hidden : {{ directory.hidden }} )
                            </figure>
                          {% endfor %}
                        </div>
                        </div>
                        {% endif %}

                        {% if directories %}
                            <div class="all-folders">
                              <h5 class="font-alt mb-0">Overall Folders </h5>
                                <div class="folders" style='border:1px solid #eee;padding:5px;overflow:auto'>
                                  <table style='width:100%;'>
                                    <thead >
                                      <th style='padding:5px;border:none;'>Name</th>
                                      <th>Date Created</th>
                                      <th> Hidden</th>
                                      <th>Total File Found</th>
                                    </thead>

                              {% for directory in directories reversed %}

                                <tr class='folder-node'>
                                  <td><i class='fa fa-folder' style='margin-left:5px'></i>
                                    {{ directory }}</td>
                                    <td>{{ directory.date }}</td>
                                    <td>  {{ directory.hidden }} </td>
                                   <td></td>

                                </tr>
                              {% endfor %}
                              </table>
                            </div>
                            </div>
                        {% endif %}


                </div>
                <div class="col-sm-3" style=''>
                  <h5 class="font-alt mb-0">Create New Folder</h5>
                  <hr class="divider-w mt-10 mb-20">

                  <form class="form-horizontal"  method="post">
                    {% csrf_token %}
                      <div class="form-group">
                        <div class="col-sm-12">
                          {{ form.folder_name }}
                        </div>

                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                        {{ form.status }}
                      </div>
                      </div>
                      <button type="submit" name="button" class='btn btn-success btn-sm' >Create Folder</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
  </section>
{% endblock %}
