{% extends 'Manager/layout/skeleton.html' %}

{% block title %}
  Pictures
{% endblock %}

{% block style %}

<style type="text/css">
  table tr td{
    font: 400 12px/1.8 "segoe ui light", sans-serif!important;
  }
  .right-border{
    border-right:1px solid #eee;

  }
  .recently{

    max-height:150px;
  }
  .all-folders{
    max-height:400px;
  }
  .folders{
    padding:10px;

  }
  .folder-node{
    font-size:13px;
    border-bottom:1px solid #eee;
    font-family:segoe ui light;
    text-transform:capitalize;
    margin:2px;
    transition:all;
    transition-property:background, color;
    transition-duration: .5s;

  }
  .folder-node:hover{
      background:#bbb;
      color:white;
      cursor:pointer
  }
  table tr td{
    font-family: "Roboto Condensed", sans-serif!important;
    font-size:13px;
    padding:4px;
  }
</style>
{% endblock %}

{% block script %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){
      let elem = document.querySelector(".recently")
      if(elem != null ){
        elem.ondblclick = function(){
          this.style.display = 'none'
        }
      }

      let t = document.querySelectorAll('.folder')
      t.forEach(function(e){
        e.onclick = function(){
            location.href = `picture/${this.dataset.hash}`

        }
      })

       let a = document.querySelector('#picture-file').onblur = function(){
          let picture = this.files[0]
          if(picture.type == 'image/jpeg' || picture.type  == 'image/png' || picture.type == 'image/gif'){

                document.querySelector('#size').value = picture.size
                document.querySelector('#button').disabled = false

          }
        }
    })

    function validator(){
      let picture = document.querySelector('#picture-file').files[0]
      document.querySelector('#error').style.display='block'

         if(picture.type != 'image/jpeg' && picture.type  != 'image/png' && picture.type != 'image/gif'){
             document.querySelector('#error').innerHTML = "<span>File Error. Check the input</span>"
             setTimeout(
             function(){document.querySelector('#error').style.display='none'},3000)
             return false
         }

         if(picture.size < 1000 ){
             document.querySelector('#error').innerHTML = "<span>Size Error. Check the file</span>"
             setTimeout(
             function(){document.querySelector('#error').style.display='none'},3000)
             return false
         }

         return true
    }
</script>

{% endblock %}

{% block maincontent %}
  <section class="module" style="min-height:555px;">
    <div class="container">
            <div class="row">
              {% include 'Manager/error/error_manager.html' %}

              <div class="col-sm-12">
                <h4 class="font-alt mb-0">Gallery</h4>

                <hr class="divider-w mt-10 mb-20">

                <div class="col-sm-9 right-border">

                        {% if recently %}
                        <div class="recently" style='border:1px solid #eee;padding:5px;overflow:auto'>
                          <h5 class="font-alt mb-0">recently Picture Added </h5>
                            <div class="folders">
                          {% for directory in recently reversed %}
                            <figure class='folder-node'>
                              <i class='fa fa-image' style='margin-left:5px'></i>&nbsp;&nbsp;&nbsp;
                                {{ directory }} Uploaded on {{ directory.date }}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                ( hidden : {{ directory.hidden }} )
                            </figure>
                          {% endfor %}
                        </div>
                        </div>
                        {% endif %}

                        {% if pictures %}
                            <div class="all-folders" style='border:1px solid #eee;margin-top:5px;padding:5px;overflow:auto'>
                              <h5 class="font-alt mb-0" id='title'>All Files Found </h5>
                                <div class="folders" >
                                  <table style='width:100%;border:none;'>
                                    <thead>
                                      <th style='padding:5px;border:none;'>Name</th>
                                      <th style='padding:5px;border:none;'>Summary</th>
                                      <th style='padding:5px;border:none;'>Hidden</th>
                                      <th>Date Uploaded</th>
                                    </thead>
                                    <tbody>
                              {% for picture in pictures reversed %}
                                <tr class='folder-node folder'  data-hash = '{{ picture.hash }}'>
                                  <td><i class='fa fa-image' style='margin-left:5px'></i>
                                    &nbsp;&nbsp;&nbsp;&nbsp;{{ picture }}</td>
                                    <td>  {{ picture.summary }} </td>
                                    <td>  {{ picture.hidden }} </td>
                                    <td>{{ picture.date }}</td>

                                  </tr>
                              {% endfor %}
                              </tbody>
                              </table>
                            </div>
                            <div class="display-folder">

                            </div>
                            </div>
                        {% endif %}


                </div>
                <div class="col-sm-3" style=''>
                  <h5 class="font-alt mb-0">Add Picture</h5>
                  <hr class="divider-w mt-10 mb-20">

                  <form class="form-horizontal"  method="post" onsubmit="return validator()" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="alert alert-danger" id='error' style='display:none'>
                    </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          {{ picture.name }}
                        </div>
                      </div>
                          {{ picture.size }}
                      <div class="form-group">
                        <div class="col-sm-12">
                        {{ picture.summary }}
                      </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                        {{ picture.folder }}
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                        {{ picture.file }}
                      </div>
                      </div>
                      <button type="submit" id='button'  disabled name="button" class='btn btn-success btn-sm' >Add Picture</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
  </section>
{% endblock %}
