{% extends 'Manager/layout/skeleton.html' %}

{% block title %}
  Folder Section
{% endblock %}

{% block style %}

<style type="text/css">
  table tr td{
    font: 400 12px/1.8 "segoe ui light", sans-serif!important;
  }
  .right-border{
    border-right:1px solid #eee;

  }
  .recently{

    max-height:150px;
  }
  .all-folders{
    max-height:400px;
  }
  .folders{
    padding:10px;

  }
  .folder-node{
    font-size:13px;
    border-bottom:1px solid #eee;
    font-family:segoe ui light;
    text-transform:capitalize;
    margin:2px;
    transition:all;
    transition-property:background, color;
    transition-duration: .5s;

  }
  .folder-node:hover{
      background:linear-gradient(to bottom, #1291c3, #29b8f1);
      color:white;
      cursor:pointer
  }
  table tr td{
    font-family: "Roboto Condensed", sans-serif!important;
    font-size:13px;
    padding:4px;
  }
</style>
{% endblock %}

{% block script %}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function(){
  let t = document.querySelectorAll('.folder')
  t.forEach(function(e){
    e.onclick = function(){

      switch (e.dataset.format) {
        case 'PNG':
        case 'JPG':
        case 'GIF':
          location.href = `picture/${e.id}`
          break;

        case 'MP4':
        case 'Avi':
        case 'Mov':
            location.href = `video/${e.id}`
            break;


        case 'MP3':
        case 'WAV':
        case 'WMA':
            location.href = `audio/${e.id}`
            break;

        case 'DOC':
        case 'PDF':
            location.href = `document/${e.id}`
            break;

        default:
          alert('dd')

      }
        console.log(e.dataset.format)

    }
  })
})
</script>

{% endblock %}

{% block maincontent %}
  <section class="module" style="min-height:555px;">
    <div class="container">
            <div class="row">
              {% include 'Manager/error/error_manager.html' %}
              {% if directory %}
              <div class="col-sm-10 col-sm-offset-1">
                <h4 class="font-alt mb-0"> {{ name }} </h4>

                <hr class="divider-w mt-10 mb-20">

                <div class="col-sm-12">
                    <div class="all-folders" style='margin-top:5px;padding:5px;overflow:auto'>
                      <h5 class="font-alt mb-0" id='title'> </h5>
                        <div class="folders" >
                            <table style='width:100%;border:none;'>
                              <thead>
                                <th style='padding:5px;border:none;'>Name</th>
                                <th style='padding:5px;border:none;'>Type</th>
                                <th>Date Created</th>
                                <th style='padding:5px;border:none;'>Size</th>
                                <th style='padding:5px;border:none;'>Length</th>
                              </thead>
                              <tbody>
                                {% for data in directory %}
                                <tr class='folder-node folder' id={{ data.5}} data-format='{{ data.1 }}'>
                                  <td>
                                    {% if data.1 in video %}
                                      <i class='fa fa-film' style='margin-left:5px'></i>
                                    {% endif %}
                                    {% if data.1 in picture %}
                                      <i class='fa fa-image' style='margin-left:5px'></i>
                                    {% endif %}
                                    {% if data.1 in music %}
                                      <i class='fa fa-music' style='margin-left:5px'></i>
                                    {% endif %}
                                    {% if data.1 in document %}
                                      <i class='fa fa-file-text' style='margin-left:5px'></i>
                                    {% endif %}&nbsp;&nbsp;{{ data.0 }}
                                  </td>
                                    <td>{{ data.1 }}</td>
                                    <td>  {{ data.2 }} </td>
                                    <td>  {{ data.3 }} </td>
                                    <td>  {{ data.4 }} </td>
                                </tr>
                                {% endfor %}
                                </<tbody>

                                </table>


                        </div>

                    </div>


                </div>

              </div>
              {% else %}
              <div class="alert alert-danger" data-alert="true" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <span>Folder Empty</span>
              </div>
              {% endif %}

            </div>
        </div>
  </section>
{% endblock %}
