{% extends 'Manager/layout/skeleton.html' %}

{% block title %}
  Folder Section
{% endblock %}

{% block style %}

<style type="text/css">
  table tr td{
    font: 400 12px/1.8 "segoe ui light", sans-serif!important;
  }
  .right-border{
    border-right:1px solid #eee;

  }
  .recently{

    max-height:150px;
  }
  .all-folders{
    max-height:400px;
  }
  .folders{
    padding:10px;

  }
  .folder-node{
    font-size:13px;
    border-bottom:1px solid #eee;
    font-family:segoe ui light;
    text-transform:capitalize;
    margin:2px;
    transition:all;
    transition-property:background, color;
    transition-duration: .5s;

  }
  .folder-node:hover{
      background:linear-gradient(to bottom, #1291c3, #29b8f1);
      color:white;
      cursor:pointer
  }
  table tr td{
    font-family: "Roboto Condensed", sans-serif!important;
    font-size:13px;
    padding:4px;
  }
</style>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/wavesurfer.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function(){

  })
</script>
{% endblock %}

{% block maincontent %}
  <section class="module" style="min-height:555px;">
    <div class="container">
            <div class="row">
              {% include 'Manager/error/error_manager.html' %}
              {% if music %}
              <div class="col-sm-10 col-sm-offset-1">
                <h4 class="font-alt mb-0"> Now Playing {{ music.name }} </h4>
                <hr class="divider-w mt-10 mb-20">

                <div id="waveform">

                </div>

                <script type="text/javascript">
                  var ctx = document.createElement('canvas').getContext('2d');
                  var linGrad = ctx.createLinearGradient(0, 64, 0, 200);
                  linGrad.addColorStop(0.5, 'rgba(255, 255, 255, 1.000)');
                  linGrad.addColorStop(0.5, 'rgba(183, 183, 183, 1.000)');

                  var wavesurfer = WaveSurfer.create({
                  container: '#waveform',
                  waveColor: linGrad,
                  progressColor: 'hsla(200, 100%, 30%, 0.5)',
                  cursorColor: '#fff',
                  barWidth: 3,
                  });

                  wavesurfer.load('http://127.0.0.1:8000/media/{{music.folder.name}}/{{music.name}}.{{music.format}}')

                </script>
                <div class="controls">
                  <button class="btn btn-primary" onclick="wavesurfer.skipBackward()">
                    <i class="fa fa-step-backward"></i>
                  </button>

                  <button class="btn btn-primary" onclick="wavesurfer.playPause()">
                    <i class="fa fa-play"></i>
                    <i class="fa fa-pause"></i>
                  </button>

                  <button class="btn btn-primary" onclick="wavesurfer.skipForward()">
                    <i class="fa fa-step-forward"></i>
                  </button>

                  <button class="btn btn-primary" onclick="wavesurfer.toggleMute()">
                    <i class="fa fa-volume-off"></i>
                  </button>
                </div>
              </div>
              {% else %}
              <div class="alert alert-danger" data-alert="true" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <span>Folder Empty</span>
              </div>
              {% endif %}

            </div>
        </div>
  </section>

{% endblock %}
